
<div id="map"></div>

<!-- Large modal -->
<div id='myModal' class="myModal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
 		<div class="modal-dialog">
	   		<div class="modal-content">
			   <center>
			   	<div class="modal-header" id="cashflowpercentage"></div>
			   </center>
			   <center><h4 id="address"></h4></center>
			   <center><h4 id="price"></h4></center>
	      <div class='modal-body'>
					<ul class="list-group">
					  <li class="list-group-item">Rental Income / Month: <p id="rentalIncome" class='pull-right'></p></li>
					  <li class="list-group-item">Less Mortgage Payment / Month: <p id="mortgagePayment" class='pull-right'></p></li>
					  <li class="list-group-item">Less Property Taxes / Month: <p id="taxes" class='pull-right'></p></li>
					  <li class="list-group-item">Less Homeowners Insurance: <p id="insurance" class='pull-right'></p></li>
					  <li class="list-group-item">Equals Monthly Net Cashflow: <p id="cashflow" class='pull-right'></p></li>
					</ul>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Property Description
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				     	<p id="description"></p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Rent Zestimate
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        <div id="graph">
				        </div>
				      </div>
				    </div>
				  </div>
				</div>
					<ul class="list-group">
					  <li class="list-group-item" id="property_image"></li>
					</ul>
					<center><button type="button" class="btn btn-primary" disabled>Contact Agent</button></center>
			 </div>
   		</div>
 	</div>
</div>

<!--HOME MODAL -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog2">
    <div class="modal-content2 modal-content-one2">
        <h4 class="modal-title2" id="myModalLabel"></h4><br>
        <center> <h1 class="titlebar"> Rental Find </h1>
      <input id="pac-input" class="controls" type="text" placeholder="Enter a location"><br>
      <button type="button" class="btn2 btn-primary" data-dismiss="modal">LET'S GET STARTED</button></center>
    </div>
  </div>
</div>
