 <div id="map"></div>
<!-- Large modal -->
<div id='myModal' class="myModal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
 <div class="modal-dialog modal-lg">
   <div class="modal-content">
       <!-- <p class='myLatLng'></p> -->
        <h4 class='address'>123 Wisteria Lane, CA, 930122</h4>
        <h5 class='price'>US$120000</h5>
        <h5 class='yield'>5.3%</h5>
        <h5 class='cashflow'>US$150 / month</h5>
   </div>
 </div>
</div>