
<div id="map"></div>

<!-- Large modal -->
<div id='myModal' class="myModal modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
 		<div class="modal-dialog">
	   		<div class="modal-content">
			   <div class="modal-header">
			           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			           <center><h1 class="modal-title" >100% Cash Positive</h1><br></center>
			   </div>
			   <center><h4 id="address"></h4></center>
			   <center><h4 id="price"></h4></center>
	      <div class='modal-body'>
					<ul class="list-group">
					  <li class="list-group-item">Rental Income / Month: <p id="rentalIncome" class='pull-right'></p></li>
					  <li class="list-group-item">Less Mortgage Payment / Month: <p id="mortgagePayment" class='pull-right'></p></li>
					  <li class="list-group-item">Less Property Taxes / Month: <p id="taxes" class='pull-right'></p></li>
					  <li class="list-group-item">Less Homeowners Insurance: <p id="insurance" class='pull-right'></p></li>
					  <li class="list-group-item">Equals Monthly Net Cashflow: <p id="cashflow" class='pull-right'></p></li>
					</ul>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Description
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				     	<p id="description"></p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Secret Algorithm
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        ...
				      </div>
				    </div>
				  </div>
				</div>
					<ul class="list-group">
					  <li class="list-group-item" id="property_image"><img class="property_img" src="http://o.homedsgn.com/wp-content/uploads/2013/02/a-house-19-800x548.jpg"></li>
					</ul>

			</div>
   		</div>
 	</div>
</div>
